body
{
    font-family: "LXGW WenKai Screen";
    font-weight: normal;
    background-color: #f6f5f3;
}

#title
{
    text-align: center;
    font-size: 38px;
    margin: 100px auto 5px auto;
    transform: transform 0.3s;
}
#title:hover
{
    transform: translateY(-5px);
}
#title-link
{
    text-decoration: none;
    color: black;
}
#subtitle
{
    text-align: center;
    font-size: 20px;
    margin: 5px auto 45px auto;
}
#line
{
    width: 45%;
    color: black;
}
.header
{
    text-align: center;
}
.nav
{
    display: flex;
    justify-content: center;
}
.nav ul
{
    display: flex; 
    list-style: none;
    padding: 0;
}
.nav li
{
    margin: 0 10px;
}
.nav ul li a
{
    color: gray;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
.nav ul li a:hover
{
    color: #1a6840;
}

.content
{
    font-size: 23px;
    text-align: left;
    margin: 35px 50px 50px 50px;
    color: gray;
}

#info
{
    text-align: left;
    color: black;
}